Source: wb-cc2652p-flasher
Section: misc
Priority: optional
Maintainer: Wiren Board Team <info@wirenboard.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/cc2538-bsl

Package: wb-cc2652p-flasher
Architecture: all
Depends: ${python3:Depends}, 
         ${misc:Depends}, 
         python3-serial, 
         python3-intelhex, 
         python3-magic,
         jq,
         gpiod,
         curl,
         unzip
Description: Texas Instruments CC13xx/CC2538/CC26xx SoC firmware update utility
 The package includes Texas Instruments CC13xx/CC2538/CC26xx SoC firmware update utility.
